@font-face {
    font-family: 'Noir Regular';
    src: url('fonts/Noir_regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'Noir Medium';
        src: url('fonts/Noir_medium.otf') format('woff');
        font-weight: normal;
        font-style: normal;
        }
html {
    scroll-behavior: smooth;
    } 
body {
    margin: 0;
    padding: 0;
    }
.inline {
    display: inline;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
    }
h1 {
    font-family: 'Noir';
    font-size: 2.25rem;
    font-weight: 800;
    padding: 1rem 0 0 0;
    /* text-align: center; */
    }
.pink {
    font-weight: bold;
    color: #C7809A;
}
/* h2 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    } */
h2 {
    font-family: 'Noir';
    font-size: 1.5rem;
    font-weight: 800;
    }
h3 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    }
h4 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    }
h6 {
    font-family: 'Noir Regular';
    text-transform: uppercase;
    font-size: 2rem;
    }
.font_subheader {
    color: #ffffff;
    text-align: center;
    margin: -.5rem 0 0 0;
    font-size: 1.2rem;
}
.font_body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #000000;
}
img {
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
    /* max-width:fit-content; */
}
button {
    cursor: pointer;
}
.btn_lg {
    color: #000;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    background-color: #F68A58;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    max-height: 2.5rem;
    border: 0px solid #000000;
}
.btn_lg hr {
    position: relative;
    top: 4px;
    left: -16px;
    width: 140%;
}
.btn_xl {
    color: #ffffff;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 4vw;
    font-weight: 800;
    background-color: #F68A58;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 20px;
    border: 0px solid #000000;
}
.btn_xxl {
    color: #ffffff;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #F68A58;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 20px;
    border: 0px solid #000000;
    width: 80vw;
    max-width: 24rem;
    /* width: 26rem; */
}
.tab_lg {
    color: #000;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    background-color: transparent;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    max-height: 2.5rem;
    border: 0px solid #000000;
}
.tab_lg hr {
    position: relative;
    /* top: 4px; */
    left: -16px;
    width: 140%;
}
input[type='radio'] {
    accent-color: #000000;
}
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    scroll-behavior: smooth;
    padding: 0 0 16rem 0;
}

/* Column Width Classes */

.col_10 {
    grid-column: 1 / 11;
    text-align: center;
    /* border: 1px solid green; */
}
.col_10_left {
    grid-column: 1 / 11;
    /* border: 1px solid green; */
}
.col_8 {
    grid-column: 2 / 10;
    text-align: center;
}
.col_8_left {
    grid-column: 2 / 10;
}
/* Section - Header */

.container_header {
    z-index:9999;
    top: 0;
    position: sticky;
    display: grid;
    grid-column: 1 / -1;
    padding: 2rem 0 2rem 0;
    margin: 0 0 2rem 0;
    max-height: 4vh;
    background-color: #000000;
}
.btn_header_back {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    max-width: 1rem;
}
.header_screen_title {
    grid-area: 1 / 4 / 2 / 8;
    text-align: center;
}
.header_screen_title h6 {
    color: #ffffff;
    margin: 10px 0 0 0;
}
.header_screen_title img {
    /* object-fit: contain; */
    max-width: 12rem;
    /* border: 1px solid green; */
}
.btn_bell {
    grid-area: 1 / 8 / 2 / 11;
    /* align-self: center; */
    /* max-width: 3rem; */
}
.btn_bell > img {
    object-fit:contain;
    max-height: 2.75rem;
    /* border: 1px solid green; */
  }
.header_screen_title_btn_back {
    grid-area: 1 / 2 / 2 / 11;
    text-align: center;
    /* border: 1px solid orange; */
}
.header_screen_title_btn_back h6 {
    color: #ffffff;
    margin: 10px 0 0 0;
}

/* Subheader */

#container_subheader_logo {
    margin: -2rem 0 0 0;
}

/* Section - Splash */

.img_cover {
    object-fit: cover;
    max-height: 100%;
}
#container_splash {
    padding: 2rem 0 2rem 0;
    background-color: #ccc;
}
#container_splash img {
    width: 80vw;
    background-color: #ffffff;
}

/* Screen - QR Scan */

.img_QRCode {
    padding: 1rem 0 1rem 0;
    border: 2px solid red;
}
#container_table_number h4 {
    margin: 1rem 0 1rem 0;
}
#container_table_number h2 {
    font-size: 5vw;
    padding: 0 0 1rem 0;
}
/* .header_item {
    display: grid;
    grid-area: 5 / 1 / 6 / 10;
    border: 2px solid pink;
} */

/* Screen - Home */

.container_searchbar {
    grid-column: 2 / 10;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* padding: 2rem 0 0 0; */
}

#fsearch {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    height: 2rem;
    width: 76vw;
    /* width: 80vw; */
    padding: 0.5rem 0 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 10px;
}
.btn_search {
    float: right;
    position: relative;
    left: -4vw;
    top: -40px;
    background: transparent;
    border: none;
}
.btn_search img {
    width: 1.5rem;
    object-fit: fill;
} 

#container_body_header {
    grid-column: 2 / 9;
    text-align: left;
}
#container_body_header h1 {
    display: inline;
}
#container_carousel_header_01 {
    grid-column: 2 / 9;
    text-align: left;
    /* border: 1px solid pink; */
}
.header_carousel {
    /* display: inline; */
    margin: 1rem 0 0 0;
}
#container_carousel_01 {
    grid-column: 2 / -1;
    padding: 0.5rem 0 0 0;
    margin: 0 0 2rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
}
.img_carousel {
    display: inline-block;
    width: 10rem;
    padding: 0 .5rem 0 0;
}
.container_carousel_item {
    display: inline-block;
}
.container_carousel_item h3 {
    margin: 0 0 0 0;
}

/* Section - Footer */

.footer {
    display: inline-block;
    grid-column: 1 / 11;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 8rem;
    background-color: #000000;
    background-color: #ffffff;
    color: white;
    text-align: center;
    filter: drop-shadow(0 0 1rem #d7d7d7);
}
.footer button {
    width: 22.5%;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 2.8vw;
    font-weight: 400;
    background-color: #ffffff;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 .3rem 0 .3rem;
    border-radius: 0px;
    border: 0px solid #000000;
}
.footer img {
    display: block;
    margin: 0 auto;
    padding: 0 0 0.5rem 0;
    height: 2rem;
    width: auto;
    /* max-height: 1rem; */
    /* border: 1px solid green; */
}
.footer_nav_selected {
    font-weight: 800;
    color: #F68A58;
}
#container_tabbed_nav {
    text-align: center;
    /* padding: 0 3rem 0 3rem; */
    /* grid-column: 2 / -1;
    padding: 0.5rem 0 0 0;
    margin: 0 0 2rem 0; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 50px;
}
#container_tabbed_nav button {
    margin: 0 0 0 0;
}
#container_tabbed_nav button hr {
    border: 1px solid #000;
}
#container_menu {
    display: inline;
    text-align: left;
    padding: 1rem 0 0 0;
    /* border: 1px solid green; */
}
#container_menu_item {
    display: inline;
    text-align: left;
    padding: 0 0 0 0;
    /* border: 1px solid green; */
}
#container_menu h3 {
    margin: 0 0 1rem 0;
    padding: 0 0 0 1rem;
}
#container_menu button {
    margin: 0 1rem 0 0;
}
.card_xl {
    display: grid;
    grid-column: 1 / -1;
    margin: 0 1rem 2rem 1rem;
    padding: 0.5rem 2rem 1rem 1.5rem;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.card_xl_img {
    display: none;
    object-fit: cover;
    /* width: 70%; */
    width: 78vw;
    max-height: 10rem;
    padding: 0 0 0.5rem 0;
    /* object-position: 0 -10; */
    /* object-fit:fill; */
    border-radius: 10px;
}
.card_xl > h4 > span {
    float: right;
}
.card_xl h4 {
    margin: 0.5rem 0 0 0;
}
.card_xl .font_body_narrow {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 4rem 0 0;
    /* border: 1px solid red; */
}
.card_xl .font_body {
    margin: 0 0 0 0;
    /* border: 1px solid red; */
}
.container_ingredients {
    margin: 0 0 1rem 0;
}
.btn_icon_close {
    position: relative;
    top: 4px;
    /* display: inline-block; */
    padding: 0 4px 0 0;
    max-width: 1.2rem;
}
.btn_ingredient {
    font-size: 1rem;
    background-color: #ffffff;
    margin: 0 1vw 3vw 0;
    border: 1px solid #a5a5a5;
    border-radius: 6px;
}
.btn_label {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
    display: inline-block;
}
.form_default select {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem 0 0 0;
    padding: 16px 1rem 16px 1rem;
    width: 50vw;
    /* background-color: red; */
    border-radius: 10px;
    border: none;
}
#container_item_options {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/* Dropdown Menu */

select, option, button, a {
    -webkit-appearance: none;
}
  .select-wrapper {
    position: relative;
    display: inline-block;
    margin: 1rem 0 2rem 0;
}
.select-wrapper:after {
      content: '\0025BC';
      font: normal normal normal 12px/1 FontAwesome;
      color: white;
      right: 20px;
      top: 2px;
      height: 26px;
      padding: 15px 0px 0px 8px;
      position: absolute;
      pointer-events: none;
}
  
.select-wrapper select > p, select, option {
        font-family: 'Zen Kaku Gothic New', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        /* padding: 1rem 0 0 0; */
      /* font-family: 'Times New Roman', Times, serif;
      font-size: x-large;
      text-align: center; */
      color: #FFF;
      /* margin: 0; */
      padding: 0.5rem 1rem 0.5rem 1rem;
}
  .select_wrapper select input,
  select,
  option {
      background-color: #333;
      border-radius: 1vh;
      border-color: transparent;
}
  .select-wrapper select {
    min-width: 250px;
    padding-right: 24px;
}

/* Quantity Input */

#myform {
    padding: 0 0 2rem 0;
    /* border: 1px dotted #ccc; */
    /* margin: 2%; */
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
    /* background-color: red; */
}
input.qtyminus {
    font-size: 2rem;
    position: relative;
    top: 4px;
    width:25px;
    height:25px;
    background: transparent;
    border: none;
}
input.qtyplus { 
    font-size: 2rem;
    position: relative;
    top: 4px;
    width:25px;
    /* height:25px; */
    background: transparent;
    border: none;
}
